body{
    background-image: url(./img/fondo2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media (max-width: 768px){
    body{
        background-image: url(./img/fondo3.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}